.container{
    display: flex;
    align-content: space-evenly;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;

}


/* Mobile Devices */
@media screen and (max-width: 480px) and (min-width: 320px) {
    .row{
        gap: 10px
    }
    
}

/* iPads and Tablets */
@media screen and (max-width: 768px) and (min-width: 481px) {
    .row {
        gap: 20px;
    }
}

/* Small Screens and Laptops */
@media screen and (max-width: 1024px) and (min-width: 769px) {
    .row{
        gap: 30px;
    }
}
